<div class="navbar">
  <a href="/">Home</a>
  <a href="/gifts">Gifts</a>

  <span id="username"></span>

  <button onclick="logoutUser()" id="logoutBtn" style="display:none;">Logout</button>
</div>

<script>
const tokenNav = localStorage.getItem("token");

if (tokenNav) {
  const payload = JSON.parse(atob(tokenNav.split(".")[1]));
  document.getElementById("username").innerHTML = "👤 " + payload.name;

  document.getElementById("logoutBtn").style.display = "inline-block";
}

function logoutUser() {
  localStorage.removeItem("token");
  window.location.href = "/";
}
</script>

<style>
.navbar {
  background: #007bff;
  color: white;
  padding: 12px;
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 18px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#username {
  margin-left: 15px;
}
</style>
